<nav class="container-fluid navbar navbar-default bg-secondary bg-opacity-10">
  <div class="container flex-nowrap">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['users']">User dashboard</a>
    </div>

    <div
      class="collapse navbar-collapse show position-relative"
      id="navbarSupportedContent"
    >
      <input
        type="search"
        class="form-control"
        placeholder="Search for users by id ..."
        style="width: auto"
        #searchInput
        (input)="getResults($event)"
        [(ngModel)]="userID"
      />
      <div
        class="list-group position-absolute shadow"
        *ngIf="filteredUsers.length"
      >
        <a
          (click)="goToUser($event, user.id)"
          style="cursor: pointer"
          class="list-group-item list-group-item-action"
          *ngFor="let user of filteredUsers"
        >
          {{ user.first_name + " " + user.last_name }}
        </a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
